{% extends "police/base.html" %}
{% block content %}
<div class="container">
<form method="POST" action="{% url 'add' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Name </label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name" name="name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">encounters </label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="encounters" name="encounters">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">posting </label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="posting" name="posting">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Station </label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Station" name="station">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
  </form>

{% endblock %}